# Port
PORT=3000

# Driver
DATABASE_DRIVER=mongodb

# MongoDB
MONGODB_URL=mongodb://localhost:27017/prac

# PostgreSQL
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=prac
DATABASE_USERNAME=prac
DATABASE_PASSWORD=password

# Debugging
#DEBUG=*
# Logging
LOGGER=tskv