# ========== Backend ==========
PORT=3000
LOGGER=dev
DATABASE_DRIVER=postgres
MONGODB_URL=mongodb://localhost:27017/prac

# Postgres (используется и backend, и postgres)
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=prac
DATABASE_USERNAME=prac
DATABASE_PASSWORD=1qw2#ER$

# ========== Frontend ==========
VITE_API_URL=//localhost/api
