# ========== Backend ==========
PORT=3000
LOGGER=dev
DATABASE_DRIVER=postgres
MONGODB_URL=mongodb://mongodb:27017/prac

# Postgres (используется и backend, и postgres)
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=prac
DATABASE_USERNAME=prac
DATABASE_PASSWORD=password

# ========== Frontend ==========
VITE_API_URL=//backend/api
